h1{color: aqua;
    background-color: green;}
    
    footer{color: palevioletred;}
    h2{color: darkgoldenrod;
    background-color: black;}
    h3{color: darksalmon;
    background-color: cornsilk;}
    h4{color: deepskyblue;
    background-color: crimson;}
    body{background-color: blue;
    
    }